@import 'global.less';

body {
	background: @color_light;
	color: @color_dark;
}

.layout-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
}
.layout-content {
	margin: 50px auto 50px 200px;
	background: white;
	box-shadow: -1px 0px 10px #0F0F03;
}